<div class="p-4">
    <div class="franchise-sec1">
      
    	        <div class="franchise-form mb-4">
    	        	<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
    		            <div class="row">
    		            	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    		            		<div class="row">
    		            		<h2 class="heading-name">Franchise Name :<span class="heading-name-span">{{franchiseData!.name || 'N/A'}}</span></h2>	
    		            	</div>
    		            	</div>
    			            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    			                <div class="form-group row">
    			                     <label for="email_address" class="col-md-4 col-form-label">First Name</label>
    			                     <div class="col-md-8 form-err">
    			                        <input type="text" formControlName="firstname" id="email_address" class="form-control" name="email-address"  placeholder="First Name">
                                        <span
                                            *ngIf="!userForm.controls['firstname'].valid && ( userForm.controls['firstname'].touched)">
                                                Please enter first name.
                                        </span>
    			                     </div>
    			                </div>
    			                <div class="form-group row">
    			                     <label for="email_address" class="col-md-4 col-form-label">Username</label>
    			                     <div class="col-md-8 form-err">
    			                        <input type="text" formControlName="Name" id="Username" class="form-control" name="user-name" placeholder="Username">
                                        <span
                                            *ngIf="!userForm.controls['Name'].valid && ( userForm.controls['Name'].touched)">
                                                Please enter username.
                                        </span>
    			                     </div>
    			                </div>
                                <div class="form-group row">
                                    <label for="email_address" class="col-md-4 col-form-label">Select Role</label>
                                    <div class="col-md-8 form-err" *ngIf="roles">
                                       <!--  <mat-form-field>
                                          <mat-label>Favorite food</mat-label>
                                          <mat-select>
                                            <mat-option *ngFor="let role of roles" [value]="role.roleId">
                                              {{role.roleName}}
                                            </mat-option>
                                          </mat-select>
                                        </mat-form-field> -->
                                        <select formControlName="role" class="form-control">
                                            <option value=null disabled="">Select</option>
                                            <option value="{{role.roleId}}" *ngFor="let role of roles">{{role.roleName}}</option>
                                        </select>
                                        <span
                                            *ngIf="!userForm.controls['role'].valid && ( userForm.controls['role'].touched)">
                                                Please select role.
                                        </span>
                                    </div>
                                </div>
    			            </div>
    			            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    			                  <div class="form-group row">
    			                     <label for="email_address" class="col-md-4 col-form-label">Last Name</label>
    			                     <div class="col-md-8 form-err">
    			                        <input type="text" formControlName="lastname" id="lastname" class="form-control" name="last-name" placeholder="Last Name">
                                        <span
                                            *ngIf="!userForm.controls['lastname'].valid && ( userForm.controls['lastname'].touched)">
                                                Please enter last name.
                                        </span>
    			                     </div>
    			                  </div>
    			                  <div class="form-group row">
    			                     <label for="email_address" class="col-md-4 col-form-label">Password</label>
    			                     <div class="col-md-8 form-err">
    			                        <input type="password" formControlName="Password" id="password" class="form-control" name="passwordd" placeholder="Password">
                                        <span
                                            *ngIf="!userForm.controls['Password'].valid && ( userForm.controls['Password'].touched)">
                                                Please enter password.
                                        </span>
    			                     </div>
    			                  </div>
    			            </div>
    			            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px;">
    			                  <div class="form-group row m-0">
    			                     <div class="col-md-2"></div>
    			                     <div class="col-md-10">
    			                        <button class="btn btn-info submit sm-btn" [disabled]="!userForm.valid" > Submit</button>
    			                        <input type="button" class="btn btn-info cancel" (click)="onCancel()" value="Cancel">
    			                     </div>
    			                  </div>
    			            </div>
    		            </div>
    	            </form>
    	        </div>
    	    
    </div>
    <div class="table-gridbox">
    <mat-card>
    <!--     <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field -->
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                <!-- Name Column -->
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
                    <td mat-cell *matCellDef="let element"> {{element!.userName || 'N/A'}} </td>
                </ng-container>
                <!-- Weight Column -->
                <ng-container matColumnDef="firstname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                    <td mat-cell *matCellDef="let element"> {{element!.firstName || 'N/A'}} </td>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="lastname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                    <td mat-cell *matCellDef="let element"> {{element!.lastName || 'N/A'}} </td>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                    <td mat-cell *matCellDef="let element"> {{element!.userRoleName || 'N/A'}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let element">
                        <ul class="list-inline list-btn-td">
                        <li class="list-inline-item edit-pen-btn"><a class="btn btn-primary btn-sm" href="javascript:void(0);" (click)="openEdit(element)"><i class="fa fa-pencil" style="margin: 0 8px" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item edit-user-btn"><a class="btn btn-danger btn-sm" href="javascript:void(0);" (click)="openDelete(element.userId)"><i class="fa fa-trash"></i></a></li>
                       
                        
                    </ul>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </mat-card>
    </div>
</div>