<div class="main-bg">
	<!-- title -->
	<h1 style="color: #ffffff;"></h1>
	<!-- //title -->
	<!-- content -->
	<div class="sub-main-mak-wid">
		<div class="bg-content-mak-widpvt" style="margin-top: 0px">
			<div class="top-content-style">
				 <img class="logo" src="assets/images/large-logo.png" alt="" /> 
			</div>
			<form [formGroup]="LoginForm" (ngSubmit)="onLogin(LoginForm.value)" *ngIf="loginFormShow">
				<p class="legend" id="titleBox">{{'Login Here' | translate}}</p>
				<div class="input">
					<input id="emailId" formControlName="email" type="email" placeholder="{{'Enter username' | translate}}" name="phone" required />
					<span class="mdi mdi-email"></span>
				</div>
				<div class="input" >
					<input id="password" formControlName="password" type="password" placeholder="{{'Enter password' | translate}}" name="otp" required />
					<span class="mdi mdi-lock"></span>
				</div>
				<button id="sendOtp" [disabled]="!LoginForm.valid" class="btn submit btn-success" >{{'LOGIN' | translate}}
				</button>
			</form>
			<a href="#" class="bottom-text-mak-widls"></a>
		</div>
	</div>
	<!-- //content -->
	<!-- copyright -->
	<div class="copyright">
		<h2>&copy; 2019 Younger Sister. All rights reserved.
		</h2>
	</div>
	<!-- //copyright -->
</div>