
button:disabled,
button[disabled]{
  // border: 1px solid #999999;
  // background-color: #33612b;
  // color: #ffffff;
  cursor:not-allowed;
}

.sgn-txt span{
  color: red;
  cursor: pointer;
}

.sub-main-mak-wid .logo {
    width: 250px;
    border-radius: 0;
    padding: 0;
}