<div class="lang-top">
   <ul class="list-inline">
      <li class="list-inline-item csr-ptr " (click)="translate.use('en')"><img src="assets/images/united-states.png"></li>
      <li class="list-inline-item csr-ptr active" (click)="translate.use('sp')"><img src="assets/images/spain.png"></li>
   </ul>
</div>
<!-- Begin page -->
<div id="wrapper" class="forced">
   <!-- Top Bar Start -->
   <div class="topbar">
      <!-- LOGO -->
      <div class="topbar-left">
         <div class="side-logo">
            <img src="assets/images/large-logo.png">
            <img class="short-logo" src="assets/images/short-logo.png">
         </div>
      </div>
      <!-- Button mobile view to collapse sidebar menu -->
      <nav class="navbar navbar-default">
         <div class="container-fluid">
            <ul class="list-inline menu-left mb-0">
               <li class="float-left d-none d-md-block">
                  <a href="javascript:void(0);" class="button-menu-mobile open-left">
                  <i class="mdi mdi-menu"></i>
                  </a>
               </li>
               <li class=" float-left top-title-heading" *ngIf="loginData && loginData.userRole != 1"><h5><span>{{franchise_name}}</span></h5></li>
            </ul>
            <ul class="nav navbar-right float-right list-inline" *ngIf="loginData">
               <li class="float-left back-btn" *ngIf="superAdmin == true"><a (click)="backToSuperAdminDashboard()" style="cursor: pointer;"><i class="mdi mdi-view-dashboard"></i> {{'Dashboard' | translate }}</a></li>
               <li class="dropdown open">
               <li class="float-left back-btn" *ngIf="loginData.franchiseId != 0"><a (click)="gotToChashierBoard()" style="cursor: pointer;"><i class="fa fa-money"></i> {{'Cashier' | translate}}</a></li>
               <li class="dropdown open">
                  <a href="" class="dropdown-toggle profile" data-toggle="dropdown" aria-expanded="true"><img src="assets/images/user-image.jpg" alt="user-img" class="rounded-circle"> {{loginData!.firstName || 'Unknown'}} {{loginData!.lastName || ''}}</a>
                  <ul class="dropdown-menu">
                     <li><a href="javascript:void(0)" class="dropdown-item" routerLink="/admin/Profile"><i class="fa fa-user-circle mr-2"></i>{{ 'Profile' | translate }}</a></li>
                     <li><a href="javascript:void(0)" class="dropdown-item" routerLink="/admin/general-settings"><i class="mdi mdi-settings mr-2"></i>  {{ 'Settings' | translate }}</a></li>
                     <li><a href="javascript:void(0)" class="dropdown-item" (click)="onLogout()"><i class="fa fa-sign-out mr-2"></i>  {{ 'Logout' | translate }}</a></li>
                  </ul>
               </li>
            </ul>
         </div>
      </nav>
   </div>
   <!-- Top Bar End -->
   <!-- ========== Left Sidebar Start ========== -->
   <div class="left side-menu pb-4">
      <div class="sidebar-inner h-100 mCustomScrollbar">

         <!--- Divider -->
         <div id="sidebar-menu">
            <ul id="accordion" *ngIf="loginData && loginData.userRole == 1">
               <li>
                  <a routerLink="/admin/dashboard" class="waves-effect"><i class="mdi mdi-home"></i><span> {{'Dashboard' | translate }} </span></a>
               </li>
               <li class="has_sub">
                  <a href="#" class="waves-effect collapsed" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1"><i class="mdi mdi-home-city-outline"></i><span>{{'Franchise' | translate}}</span><span class="float-right"><i class="mdi mdi-plus"></i></span></a>
                  <ul class="collapse list-unstyled csr-ptr" id="collapseExample1" data-parent="#accordion">
                     <li><a routerLink="/admin/franchise">Add Franchise</a></li>
                     <li><a *ngFor="let item of results" (click)="changeDashboard(item)">{{item.franchiseName}}</a></li>
                  </ul>
               </li>
               <li class="has_sub">
                  <a href="#" class="waves-effect collapsed" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2"><i class="mdi mdi-format-list-bulleted"></i><span> {{'Inventroy Management' | translate }}</span><span class="float-right"><i class="mdi mdi-plus"></i></span></a>
                  <ul class="collapse list-unstyled" id="collapseExample2" data-parent="#accordion">
                     <!-- <li><a routerLink="/admin/add-items">Items</a></li> -->
                     <!-- <li><a >Adjustment of Quantity</a></li> -->
                     <li><a routerLink="/admin/category">{{'Category' | translate}}</a></li>
                     <li><a routerLink="/admin/sub-category">{{'Sub-Category' | translate}}</a></li>
                     <!--<li><a routerLink="/admin/AddCoupon">Add Coupon</a></li>-->
                     <li><a routerLink="/admin/csvimport">{{'Import' | translate}}</a></li>
                  </ul>
               </li>
               <li class="has_sub">
                  <a href="#" class="waves-effect collapsed" data-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample6"><i class="mdi mdi-cart"></i> <span> {{'Item Management' | translate}} </span> <span class="float-right"><i class="mdi mdi-plus"></i></span></a>
                  <ul class="collapse list-unstyled" id="collapseExample6" data-parent="#accordion">
                      <li><a routerLink="/admin/add-product">{{'Add Product' | translate}}</a></li>
                      <li><a routerLink="/admin/list-product">{{'List Product' | translate}}</a></li>
                      <li><a routerLink="/admin/group-product">{{'Group Products' | translate}}</a></li>
                      <li><a routerLink="/admin/group-item-list">{{'Group List' | translate}}</a></li>
                  </ul>
               </li>

               <li class="has_sub">
                  <a href="#" class="waves-effect collapsed" data-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample7"><i class="mdi mdi-account"></i> <span>  {{'Customer Management' | translate}} </span> <span class="float-right"><i class="mdi mdi-plus"></i></span></a>
                  <ul class="collapse list-unstyled" id="collapseExample7" data-parent="#accordion">
                      <li><a routerLink="/admin/add-customer">{{'Add Customer' | translate}}</a></li>
                      <li><a routerLink="/admin/customer-listing">{{'List Customer' | translate}}</a></li>
                  </ul>
               </li>

               <li class="has_sub">
                  <a href="#" class="waves-effect collapsed" data-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false" aria-controls="collapseExample8"><i class="mdi mdi-alert-octagram"></i> <span> {{'Coupon Management' | translate}} </span> <span class="float-right"><i class="mdi mdi-plus"></i></span></a>
                  <ul class="collapse list-unstyled" id="collapseExample8" data-parent="#accordion">
                      <li><a routerLink="/admin/add-coupon">{{'Add Coupon' | translate}}</a></li>
                      <li><a routerLink="/admin/coupon-listing">{{'List Coupon' | translate}}</a></li>
                  </ul>
               </li>
                <li>
                    <a routerLink="/admin/Supplier" class="waves-effect"><i class="mdi mdi-truck"></i><span> {{'Supplier Management' | translate}} </span></a>
                </li>

               <li class="has_sub">
                  <a href="#" class="waves-effect collapsed" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="mdi mdi-folder-multiple"></i> <span> {{'Report' | translate}} </span> <span class="float-right"><i class="mdi mdi-plus"></i></span></a>
                  <ul class="collapse list-unstyled" id="collapseExample4" data-parent="#accordion">
                      <li><a routerLink="sales-report">{{'Date Wise Sales Report' | translate}}</a></li>
                      <li><a routerLink="inventroy-report">{{'Item Wise Stock Report' | translate}}</a></li>
                      <li><a routerLink="rent-report">{{'Rent Wise Stock Report' | translate}}</a></li>
                      <li><a routerLink="date-wise-rent-report">{{'Date Wise Rent Report' | translate}}</a></li>
                      <li><a routerLink="/admin/incoming_Rented">{{'Incoming Rented Item Report' | translate}}</a></li>
                      <li><a routerLink="/admin/incoming_Sale">{{'Stock Alert Report' | translate}}</a></li>
                      <li><a routerLink="/admin/higest_sale">{{'Highest Sale Report' | translate}}</a></li>
                      <li><a routerLink="/admin/customer_report">{{'Customer Sale Report' | translate}}</a></li>
                      <li><a routerLink="/admin/customer-rent-report">{{'Customer Rent Report' | translate}}</a></li>
                     <!--  <li><a routerLink="/admin/supply-report">Supply Report</a></li> -->
                  </ul>
               </li>

               <li class="has_sub">
                  <a href="#" class="waves-effect collapsed" data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample5"><i class="mdi mdi-settings"></i> <span> {{'Settings' | translate}} </span> <span class="float-right"><i class="mdi mdi-plus"></i></span></a>
                  <ul class="collapse list-unstyled" id="collapseExample5" data-parent="#accordion">
                      <li><a routerLink="general-settings">{{'General' | translate}}</a></li>
                      <li><a routerLink="UnitCategory">{{'Units' | translate}}</a></li>
                      <li><a routerLink="UnitCategoryMeasurement">{{'Unit Measure' | translate}}</a></li>
                      <li><a routerLink="TaxManagement">{{'Tax' | translate}}</a></li>
                  </ul>
               </li>
            </ul>

<!--  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

            <ul id="accordion" *ngIf="loginData && loginData.userRole == 2">
               <li>
                  <a routerLink="/admin/dashboard" class="waves-effect"><i class="mdi mdi-home"></i><span> {{'Dashboard' | translate}} </span></a>
               </li>
               <li class="has_sub">
                  <a href="#" class="waves-effect collapsed" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2"><i class="mdi mdi-format-list-bulleted"></i><span> {{'Inventroy Management' | translate }}</span><span class="float-right"><i class="mdi mdi-plus"></i></span></a>
                  <ul class="collapse list-unstyled" id="collapseExample2" data-parent="#accordion">
                     <!-- <li><a routerLink="/admin/add-items">Item</a></li> -->
                     <!-- <li><a >Adjustment of Quantity</a></li> -->
                     <li><a routerLink="/admin/category">{{'Category' | translate}}</a></li>
                     <li><a routerLink="/admin/sub-category">{{'Sub-Category' | translate}}</a></li>
                   
                     <li><a routerLink="/admin/csvimport">{{'Import' | translate}} </a></li>
                  </ul>
               </li>
               <li class="has_sub">
                  <a href="#" class="waves-effect collapsed" data-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample6"><i class="mdi mdi-cart"></i> <span> {{'Item Management' | translate}} </span> <span class="float-right"><i class="mdi mdi-plus"></i></span></a>
                  <ul class="collapse list-unstyled" id="collapseExample6" data-parent="#accordion">
                      <li><a routerLink="/admin/add-product">{{'Add Product' | translate}}</a></li>
                      <li><a routerLink="/admin/list-product">{{'List Product' | translate}}</a></li>
                      <li><a routerLink="/admin/group-product">{{'Group Items' | translate}}</a></li>
                      <li><a routerLink="/admin/group-item-list">{{'Group List' | translate}}</a></li>
                  </ul>
               </li>

               <li class="has_sub">
                  <a href="#" class="waves-effect collapsed" data-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample7"><i class="mdi mdi-account"></i> <span> {{'Customer Management' | translate}} </span> <span class="float-right"><i class="mdi mdi-plus"></i></span></a>
                  <ul class="collapse list-unstyled" id="collapseExample7" data-parent="#accordion">
                      <li><a routerLink="/admin/add-customer">{{'Add Customer' | translate}}</a></li>
                      <li><a routerLink="/admin/customer-listing">{{'List Customer' | translate}}</a></li>
                  </ul>
               </li>

               <li class="has_sub">
                  <a href="#" class="waves-effect collapsed" data-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false" aria-controls="collapseExample8"><i class="mdi mdi-alert-octagram"></i> <span> {{'Coupon Management' | translate}} </span> <span class="float-right"><i class="mdi mdi-plus"></i></span></a>
                  <ul class="collapse list-unstyled" id="collapseExample8" data-parent="#accordion">
                      <li><a routerLink="/admin/add-coupon">{{'Add Coupon' | translate}}</a></li>
                      <li><a routerLink="/admin/coupon-listing">{{'List Coupon' | translate}}</a></li>
                  </ul>
               </li>
                <!-- <li>
                    <a routerLink="/admin/Supplier" class="waves-effect"><i class="mdi mdi-truck"></i><span> {{'Supplier Management' | translate}} </span></a>
                </li> -->
               <li class="has_sub">
                  <a href="#" class="waves-effect collapsed" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="mdi mdi-folder-multiple"></i> <span> {{'Report' | translate}} </span> <span class="float-right"><i class="mdi mdi-plus"></i></span></a>
                  <ul class="collapse list-unstyled" id="collapseExample4" data-parent="#accordion">
                      <li><a routerLink="sales-report">{{'Date Wise Sales Report' | translate}}</a></li>
                      <li><a routerLink="inventroy-report">{{'Item Wise Stock Report' | translate}}</a></li>
                      <li><a routerLink="rent-report">{{'Rent Wise Stock Report' | translate}}</a></li>
                      <li><a routerLink="date-wise-rent-report">{{'Date Wise Rent Report' | translate}}</a></li>
                      <li><a routerLink="/admin/incoming_Rented">{{'Incoming Rented Item Report' | translate}}</a></li>
                      <li><a routerLink="/admin/incoming_Sale">{{'Stock Alert Report' | translate}}</a></li>
                      <li><a routerLink="/admin/higest_sale">{{'Highest Sale Report' | translate}}</a></li>
                      <li><a routerLink="/admin/customer_report">{{'Customer Sale Report' | translate}}</a></li>
                      <li><a routerLink="/admin/customer-rent-report">{{'Customer Rent Report' | translate}}</a></li>
                     <!--  <li><a routerLink="/admin/supply-report">Supply Report</a></li> -->
                  </ul>
               </li>

               <li class="has_sub">
                  <a href="#" class="waves-effect collapsed" data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample5"><i class="mdi mdi-settings"></i> <span> {{'Settings' | translate}} </span> <span class="float-right"><i class="mdi mdi-plus"></i></span></a>
                  <ul class="collapse list-unstyled" id="collapseExample5" data-parent="#accordion">
                      <li><a routerLink="general-settings">{{'General' | translate}}</a></li>
                      <li><a routerLink="/admin/franchise-user/{{loginData.franchiseId}}/{{loginData.franchiseName}}">{{'User' | translate}}</a></li>
                      <!-- <li><a>Logs</a></li> -->
                   

                      <li><a routerLink="UnitCategory">{{'Units' | translate}}</a></li>
                      <li><a routerLink="UnitCategoryMeasurement">{{'Unit Measure' | translate}}</a></li>
                      <li><a routerLink="TaxManagement">{{'Tax' | translate}}</a></li>
                  </ul>
               </li>
            </ul>

            <div class="clearfix"></div>
         </div>
         <div class="clearfix"></div>
      </div>
   </div>
   <!-- Left Sidebar End --> 
   <!-- ============================================================== -->
   <!-- Start right Content here -->
   <!-- ============================================================== --> 
   <div class="content-page custom-content">
      <!-- Start content -->
      <div class="content" style="margin-top: 70px">
         <div id="admin-router-outlet ">
            <router-outlet></router-outlet>
         </div>
      </div>
      <div class="footer-section">
         <div class="copyright">
            <p>copyright@2019 </p>
         </div>
      </div>
   </div>
   <!-- ============================================================== -->
   <!-- End Right content here -->
   <!-- ============================================================== -->
</div>