<div class="p-2">
    <div class="franchise-sec1" data-aos="fade-down" data-aos-duration="800">
        <div class="franchise-form mb-2">
            <div class="franchise-top-header">
                <h2 class="heading-name">{{'Franchise Form' | translate}}<!-- <span class="heading-name-span">{{franchiseData!.name || 'N/A'}}</span> --></h2>
            </div>
            <form [formGroup]="franchiseForm" (ngSubmit)="onSubmit(franchiseForm.value)">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="form-group row">
                            <label for="email_address" class="col-md-4 col-form-label">{{'Franchise Name' | translate}}</label>
                            <div class="col-md-8 form-err">
                                <input type="text" formControlName="Name" id="email_address" class="form-control" name="email-address" placeholder="Franchise Name">
                                <span *ngIf="!franchiseForm.controls['Name'].valid && ( franchiseForm.controls['Name'].touched)">
                                    {{'Please enter franchise name.' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group row pt-2">
                            <label for="email_address" class="col-md-4 col-form-label">{{'Franchise Phone' | translate}}</label>
                            <div class="col-md-8 form-err">
                                <input type="text" formControlName="phonenumber" id="email_address" class="form-control" name="email-address" placeholder="Franchise Phone">
                                <span *ngIf="!franchiseForm.controls['phonenumber'].valid && ( franchiseForm.controls['phonenumber'].touched)">
                                   {{ 'Please enter franchise phone number.' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group row pt-3">
                            <label for="email_address" class="col-md-4 col-form-label">{{'Franchise Image Logo' | translate}}</label>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 file-upload form-err ">
                                <input formControlName="uploadFile" (change)="onUpload($event)" id="file-upload1" type="file" />
                                <span *ngIf="!franchiseForm.controls['uploadFile'].valid && ( franchiseForm.controls['uploadFile'].touched)">
                                    {{'Please upload franchise logo.' | translate}}
                                </span>
                            </div>
                            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 frm-img pr-0">
                                <div>
                                    <img src="{{itemImage != null && itemImage || 'assets/images/franchise_logo_placeholder.png'}}" style="width: 55px;">
                                </div>
                               <!--  <div *ngIf="itemForm.value.ItemId != 0">
                                    <img src="{{itemImage || 'assets/images/franchise_logo_placeholder.png'}}">
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="form-group row">
                            <label for="email_address" class="col-md-4 col-form-label">{{'Contact Person' | translate}}</label>
                            <div class="col-md-8 form-err">
                                <input type="text" formControlName="address" id="email_address" class="form-control" name="email-address" placeholder="Contact Person">
                                <span *ngIf="!franchiseForm.controls['address'].valid && ( franchiseForm.controls['address'].touched)">
                                   {{' Please enter contact person.' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group row pt-2">
                            <label for="email_address" class="col-md-4 col-form-label">{{'Franchise Code' | translate}}</label>
                            <div class="col-md-8 form-err">
                                <input type="text" formControlName="code" id="email_address" class="form-control" name="email-address" placeholder="Franchise Code">
                                <span *ngIf="!franchiseForm.controls['code'].valid && ( franchiseForm.controls['code'].touched)">
                                    {{'Please enter franchise code.' | translate}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group row mt-2">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <button class="btn btn-info submit sm-btn" > Submit</button>
                                <input type="button" class="btn btn-info cancel" (click)="onCancel()" value="{{'Cancel' | translate}}">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="table-gridbox" data-aos="fade-down" data-aos-duration="2000">
        <mat-card>
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>

            <div class="mat-elevation-z8">
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" matSort>
                        <!-- Name Column -->
                        <ng-container matColumnDef="franchiseName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Franchise Name' | translate}} </th>
                            <td mat-cell *matCellDef="let element"> <span class="product-name-right">{{element!.franchiseName || 'N/A'}}</span> </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="franchiseAddress">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Contact Person' | translate}} </th>
                            <td mat-cell *matCellDef="let element"> <span class="product-name-right">{{element!.contactPerson || 'N/A'}} </span></td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="franchisePhone">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Phone No.' | translate}} </th>
                            <td mat-cell *matCellDef="let element"><span class="product-name-right">{{element!.franchisePhone || 'N/A'}}</span> </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="franchiseCode">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Franchise Code' | translate}} </th>
                            <td mat-cell *matCellDef="let element"> <span class="product-name-right">{{element!.franchiseCode || 'N/A'}}</span> </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="createdDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Date' | translate}} </th>
                            <td mat-cell *matCellDef="let element"><span class="product-name-right">{{element.createdDate.split('T')[0]}}</span> </td>
                        </ng-container>

                        <ng-container matColumnDef="image">
                            <th mat-header-cell *matHeaderCellDef> {{'Logo' | translate}} </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="td-logo-img">
                                    <img src="{{element!.imageLogo || 'assets/images/franchise_logo_placeholder.png'}}">
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> {{'Action' | translate}} </th>
                            <td mat-cell *matCellDef="let element">
                                <ul class="list-inline list-btn-td">
                                    <li class="list-inline-item edit-pen-btn"><a class="btn btn-primary btn-sm" href="javascript:void(0);" (click)="openEdit(element)"><i class="fa fa-pencil"></i></a></li>
                                    <li class="list-inline-item edit-user-btn"><a class="btn btn-info btn-sm" href="javascript:void(0);" routerLink="/admin/franchise-user/{{element.franchiseId}}/{{element.franchiseName}}"><i class="fa fa-user-plus"></i></a></li>
                                    <li class="list-inline-item trash-btn"><a class="btn btn-danger btn-sm" href="javascript:void(0);" (click)="openDelete(element.franchiseId)"><i class="fa fa-trash"></i></a></li>

                                </ul>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator class="cstm_pagination" [length]="length"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="pageSizeOptions">
                </mat-paginator>
            </div>
        </mat-card>
    </div>
</div>