<div class="custom-dashboard">
   <div class="container-fluid">
      <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="heading">Welcome!</h2>
         </div>
      </div>
      <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <div class="sales-box">
               <img src="assets/images/daily-sales.png">
               <div class="sales-text">
                  <p>Daily Sales</p>
                  <h2>$45,000</h2>
               </div>
            </div>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <div class="sales-box">
               <img src="assets/images/Weekly-slaes.png">
               <div class="sales-text">
                  <p>Weekly Sales</p>
                  <h2>$45,000</h2>
               </div>
            </div>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <div class="sales-box">
               <img src="assets/images/monthly-income.png">
               <div class="sales-text">
                  <p>Monthly Sales</p>
                  <h2>$45,000</h2>
               </div>
            </div>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <div class="sales-box">
               <img src="assets/images/yearly-sales.png">
               <div class="sales-text">
                  <p>Yearly Sales</p>
                  <h2>$45,000</h2>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="Monthly-Income-section">
   <div class="container-fluid">
      <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <div class="monthly-graph">
               <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <div class="dashboard-heading-top">
                        <h2>Monthly Graph</h2>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <div class="monthly-graph-img">
                        <img src="assets/images/monthly-graph.png">
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <div class="incoming-rented-items">
               <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <div class="dashboard-heading-top">
                        <h2>Incoming Rented items</h2>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <div class="table-gridbox">
                        <table width="100%">
                           <thead>
                              <tr>
                                 <th>Product name</th>
                                 <th>DOI</th>
                                 <th class="text-center">DOR</th>
                                 <th class="text-center">QTY</th>
                                 <th class="text-center">From</th>
                              </tr>
                           </thead>
                        </table>
                     </div>
                     <div class="table-gridbox" id="boxscroll4">
                        <div class="overflow-auto scroll-height">
                           <table class="table table-striped custab">
                           <tr>
                              <td><img src="assets/images/customer-img.png">Neck Suit X10</td>
                              <td class="text-center">10-06-2019</td>
                              <td class="text-center">10-06-2019</td>
                              <td class="text-center">1</td>
                              <td class="text-center">John Doe</td>
                           </tr>
                           <tr>
                              <td><img src="assets/images/customer-img.png">Neck Suit X10</td>
                              <td class="text-center">10-06-2019</td>
                              <td class="text-center">10-06-2019</td>
                              <td class="text-center">1</td>
                              <td class="text-center">John Doe</td>
                           </tr>
                           <tr>
                              <td><img src="assets/images/customer-img.png">Neck Suit X10</td>
                              <td class="text-center">10-06-2019</td>
                              <td class="text-center">10-06-2019</td>
                              <td class="text-center">1</td>
                              <td class="text-center">John Doe</td>
                           </tr>
                           <tr>
                              <td><img src="assets/images/customer-img.png">Neck Suit X10</td>
                              <td class="text-center">10-06-2019</td>
                              <td class="text-center">10-06-2019</td>
                              <td class="text-center">1</td>
                              <td class="text-center">John Doe</td>
                           </tr>
                           <tr>
                              <td><img src="assets/images/customer-img.png">Neck Suit X10</td>
                              <td class="text-center">10-06-2019</td>
                              <td class="text-center">10-06-2019</td>
                              <td class="text-center">1</td>
                              <td class="text-center">John Doe</td>
                           </tr>
                           <tr>
                              <td><img src="assets/images/customer-img.png">Neck Suit X10</td>
                              <td class="text-center">10-06-2019</td>
                              <td class="text-center">10-06-2019</td>
                              <td class="text-center">1</td>
                              <td class="text-center">John Doe</td>
                           </tr>
                           <tr>
                              <td><img src="assets/images/customer-img.png">Neck Suit X10</td>
                              <td class="text-center">10-06-2019</td>
                              <td class="text-center">10-06-2019</td>
                              <td class="text-center">1</td>
                              <td class="text-center">John Doe</td>
                           </tr>
                           <tr>
                              <td><img src="assets/images/customer-img.png">Neck Suit X10</td>
                              <td class="text-center">10-06-2019</td>
                              <td class="text-center">10-06-2019</td>
                              <td class="text-center">1</td>
                              <td class="text-center">John Doe</td>
                           </tr>
                           <tr>
                              <td><img src="assets/images/customer-img.png">Neck Suit X10</td>
                              <td class="text-center">10-06-2019</td>
                              <td class="text-center">10-06-2019</td>
                              <td class="text-center">1</td>
                              <td class="text-center">John Doe</td>
                           </tr>
                        </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="highest-selling-section">
   <div class="container-fluid">
      <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <div class="incoming-rented-items">
               <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <div class="dashboard-heading-top">
                        <h2>Hishest Selling Items</h2>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <div class="table-gridbox">
                        <table width="100%">
                           <thead>
                              <tr>
                                 <th>Product name</th>
                                 <th class="text-center">Quantity</th>
                                 <th class="text-center">Price</th>
                              </tr>
                           </thead>
                        </table>
                     </div>
                     <div class="table-gridbox mCustomScrollbar " id="boxscroll3">
                        <div class="overflow-auto scroll-height">
                           <table class="table table-striped custab">
                           <tr>
                              <td>1.Neck Suit X10</td>
                              <td class="text-center">1</td>
                              <td class="text-center">$30</td>
                           </tr>
                           <tr>
                              <td>2.Neck Suit X10</td>
                              <td class="text-center">1</td>
                              <td class="text-center">$30</td>
                           </tr>
                           <tr>
                              <td>3.Neck Suit X10</td>
                              <td class="text-center">1</td>
                              <td class="text-center">$30</td>
                           </tr>
                           <tr>
                              <td>4.Neck Suit X10</td>
                              <td class="text-center">1</td>
                              <td class="text-center">$30</td>
                           </tr>
                           <tr>
                              <td>5.Neck Suit X10</td>
                              <td class="text-center">1</td>
                              <td class="text-center">$30</td>
                           </tr>
                           <tr>
                              <td>6.Neck Suit X10</td>
                              <td class="text-center">1</td>
                              <td class="text-center">$30</td>
                           </tr>
                           <tr>
                              <td>7.Neck Suit X10</td>
                              <td class="text-center">1</td>
                              <td class="text-center">$30</td>
                           </tr>
                           <tr>
                              <td>8.Neck Suit X10</td>
                              <td class="text-center">1</td>
                              <td class="text-center">$30</td>
                           </tr>
                           <tr>
                              <td>9.Neck Suit X10</td>
                              <td class="text-center">1</td>
                              <td class="text-center">$30</td>
                           </tr>
                           <tr>
                              <td>10.Neck Suit X10</td>
                              <td class="text-center">1</td>
                              <td class="text-center">$30</td>
                           </tr>
                           <tr>
                              <td>11.Neck Suit X10</td>
                              <td class="text-center">1</td>
                              <td class="text-center">$30</td>
                           </tr>
                        </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <div class="customer-section">
               <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <div class="dashboard-heading-top">
                         <h2>Customers</h2>
                     </div>
                    
                  </div>
               </div>
               <div class="overflow-auto scroll-height-390">
                  <div class="row custom_border">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
                     <div class="customer-image">
                        <img src="assets/images/customer-img.png">
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-10">
                     <div class="customer-text">
                        <h2>John De</h2>
                        <p>123 4567 8910</p>
                     </div>
                  </div>
               </div>
               <div class="row custom_border">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
                     <div class="customer-image">
                        <img src="assets/images/customer-img.png">
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-10">
                     <div class="customer-text">
                        <h2>John De</h2>
                        <p>123 4567 8910</p>
                     </div>
                  </div>
               </div>
               <div class="row custom_border">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
                     <div class="customer-image">
                        <img src="assets/images/customer-img.png">
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-10">
                     <div class="customer-text">
                        <h2>John De</h2>
                        <p>123 4567 8910</p>
                     </div>
                  </div>
               </div>
               <div class="row custom_border">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
                     <div class="customer-image">
                        <img src="assets/images/customer-img.png">
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-10">
                     <div class="customer-text">
                        <h2>John De</h2>
                        <p>123 4567 8910</p>
                     </div>
                  </div>
               </div>
               <div class="row custom_border">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
                     <div class="customer-image">
                        <img src="assets/images/customer-img.png">
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-10">
                     <div class="customer-text">
                        <h2>John De</h2>
                        <p>123 4567 8910</p>
                     </div>
                  </div>
               </div>
               <div class="row custom_border">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
                     <div class="customer-image">
                        <img src="assets/images/customer-img.png">
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-10">
                     <div class="customer-text">
                        <h2>John De</h2>
                        <p>123 4567 8910</p>
                     </div>
                  </div>
               </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="sock-alert-section">
   <div class="container-fluid">
      <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <div class="incoming-rented-items">
               <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
                     <div class="dashboard-heading-top">
                          <h2>Stock Alert</h2>
                     </div>
                    
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                     <div class="table-gridbox">
                        <table width="100%">
                           <thead>
                              <tr>
                                 <th align="left">Product name</th>
                                 <th align="center" width="100">Quantity</th>
                              </tr>
                           </thead>
                        </table>
                     </div>
                     <div class="table-gridbox mCustomScrollbar " id="boxscroll2">
                        <div class="overflow-auto scroll-height">
                           <table class="table table-striped custab">
                           <tr>
                              <td>1.Neck Suit X10</td>
                              <td class="text-center" width="100"><span>1</span></td>
                           </tr>
                           <tr>
                              <td>2.Neck Suit X10</td>
                              <td class="text-center" width="100"><span>1</span></td>
                           </tr>
                           <tr>
                              <td>3.Neck Suit X10</td>
                              <td class="text-center" width="100"><span>1</span></td>
                           </tr>
                           <tr>
                              <td>4.Neck Suit X10</td>
                              <td class="text-center" width="100"><span>1</span></td>
                           </tr>
                           <tr>
                              <td>5.Neck Suit X10</td>
                              <td class="text-center" width="100"><span>1</span></td>
                           </tr>
                           <tr>
                              <td>6.Neck Suit X10</td>
                              <td class="text-center" width="100"><span>1</span></td>
                           </tr>
                           <tr>
                              <td>7.Neck Suit X10</td>
                              <td class="text-center" width="100"><span>1</span></td>
                           </tr>
                           <tr>
                              <td>8.Neck Suit X10</td>
                              <td class="text-center" width="100"><span>1</span></td>
                           </tr>
                           <tr>
                              <td>9.Neck Suit X10</td>
                              <td class="text-center" width="100"><span>1</span></td>
                           </tr>
                           <tr>
                              <td>10.Neck Suit X10</td>
                              <td class="text-center" width="100"><span>1</span></td>
                           </tr>
                        </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <div class="counter-alert">
               <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     
                     <div class="dashboard-heading-top">
                          <h2>Counter Wise Alert</h2>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <div class="chart-image">
                        <img src="assets/images/chart-image.png">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>