<div class="p-2">
	<div class="franchise-sec1" data-aos="fade-down" data-aos-duration="800">
        <div class="franchise-form mb-2">
             <div class="franchise-top-header">
                 <h2 class="heading-name">{{'Customer List' | translate}}<!-- <span class="heading-name-span">{{franchiseData!.name || 'N/A'}}</span> --></h2>  
             </div>
        	<form [formGroup]="customerForm">
	            <div class="row">
		            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
		                <div class="form-group row">
		                     <label for="email_address" class="col-md-4 col-form-label custom_franchise">{{'Search' | translate}}</label>
		                     <div class="col-md-8 form-err custom_form_err" >
                                		<mat-form-field>
								  <input matInput (keyup)="applyFilter($event.target.value)">
								</mat-form-field>    
		                     </div>
		                </div>
		               <!--    <div class="form-group row">
		                     <label for="email_address" class="col-md-4 col-form-label">Customer DOB</label>
		                     <div class="col-md-8 form-err">
		                        <input type="date" formControlName="DateOfBirth" id="customer_address" class="form-control" name="email-address" >
                             
		                     </div>
		                  </div>
		                <div class="form-group row">
		                     <label for="email_address" class="col-md-4 col-form-label">Phone No.</label>
		                     <div class="col-md-8 file-upload form-err">
		                        <input formControlName="CustomerContactNo" id="phone_no" type="text" class="form-control"/>
                                <span
                                    *ngIf="!customerForm.controls['CustomerContactNo'].valid && ( customerForm.controls['CustomerContactNo'].touched)">
                                        Please enter Phone No.
                                </span>
		                     </div>
		                </div> -->
		            </div>
		            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">

		                  <div class="form-group row">
		                     <label for="email_address" class="col-md-4 col-form-label custom_franchise">{{'Franchise' | translate}}</label>
		                         <div class="col-md-8 form-err" >
                                <select formControlName="FranchiseId" class="form-control" (change)="_getCustomerListing($event.target.value)">
                                    <!-- <option value=null disabled="">Select</option>
									<option value=0 disabled="">All</option> -->
									<option value=0 >{{'All' | translate}}</option>
                                    <option value="{{franchise.franchiseId}}" *ngFor="let franchise of formServiceData.franchiseList">{{franchise.franchiseName}}</option>
                                </select>
                                <span
                                    *ngIf="!customerForm.controls['FranchiseId'].valid && ( customerForm.controls['FranchiseId'].touched)">
                                        {{'Please select franchise.' | translate}}
                                </span>
		                     </div>
		                  </div>
		               
		            </div>
		          
	            </div>
            </form>
        </div>
	</div>

	<div class="table-gridbox" data-aos="fade-down" data-aos-duration="2000">
	<mat-card>
		<div class="mat-elevation-z8">
			<div class="table-responsive">
				<table mat-table [dataSource]="dataSource" matSort>

				  <ng-container matColumnDef="franchiseName">
				    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Franchise' | translate}} </th>
				    <td mat-cell *matCellDef="let element"> <span class="product-name-right">{{element!.franchiseName || 'N/A'}} </span></td>
				  </ng-container>
				  <!-- Name Column -->
				  <ng-container matColumnDef="customerName">
				    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Customer Name' | translate}} </th>
				    <td mat-cell *matCellDef="let element"> <span class="product-name-right">{{element!.customerName || 'N/A'}} </span></td>
				  </ng-container>

				  <!-- Weight Column -->
				  <ng-container matColumnDef="customerContactNo">
				    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Contact No' | translate}} </th>
				    <td mat-cell *matCellDef="let element"><span class="product-name-right"> {{element!.customerContactNo || 'N/A'}}</span> </td>
				  </ng-container>

				  <!-- Symbol Column -->
				  <ng-container matColumnDef="customerAddress">
				    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Customer Address' | translate}} </th>
				    <td mat-cell *matCellDef="let element"><span class="product-name-right"> {{element!.customerAddress || 'N/A'}} </span></td>
				  </ng-container>

				  <!-- Symbol Column -->
				  <ng-container matColumnDef="DateOfBirth">
				    <th mat-header-cell *matHeaderCellDef> {{'Date Of Birth' | translate}} </th>
				    <td mat-cell *matCellDef="let element" > 
				    	<p *ngIf="element.dateOfBirth == null">N/A</p>
				    	<p *ngIf="element.dateOfBirth != null"><span class="product-name-right"> {{element.dateOfBirth.split('T')[0]}}</span></p>
					</td>
				  </ng-container>

				  <ng-container matColumnDef="action">
				    <th mat-header-cell *matHeaderCellDef> {{'Action' | translate}} </th>
				    <td mat-cell *matCellDef="let element"> 
						<ul class="list-inline list-btn-td">
							<!-- <li class="list-inline-item edit-pen-btn"><a class="btn btn-primary btn-sm" href="javascript:void(0);" (click)="openEdit(element)"><i class="fa fa-pencil"></i></a></li> -->
							<li class="list-inline-item">
								<mat-card class="result">
									<mat-card-content>
										  
									  <section class="example-section">
										<mat-slide-toggle
											class="example-margin"
											[color]="color"
											[checked]="element.isActive"
											(click)="ActivateCustomer(element.customerId)"
											[disabled]="disabled">
										</mat-slide-toggle>
									  </section>
									</mat-card-content>
								  </mat-card> 
							  </li>
							<li class="list-inline-item trash-btn"><a class="btn btn-danger btn-sm" href="javascript:void(0);" (click)="openDelete(element.customerId)"><i class="fa fa-trash"></i></a></li>
							
						</ul>
				    </td>
				  </ng-container>

				  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
			</div>
			<!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
		</div>
	</mat-card>
	</div>
</div>
