/* You can add global styles to this file, and also import other style files */

// CSS Reset, comment out if not required or using a different module
// @import '~minireset.css/minireset';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-table thead tr {
    background-color: #eee;
    color: #fff !important;
}
.mat-table thead tr th {
    color: #333 !important;
    font-size:15 px;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}
.lang-top {
    position: fixed;
    z-index: 99999;
    right: 29px;
}
.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}
.list-inline-item {
    display: inline-block;
}
// .mat-table {
//         overflow: auto;
//         max-height: 700px;
//       }

//  .mat-header-cell .mat-sort-header-sorted {
//         color: red !important;
//       }

//  .md-pagination-wrapper {
//         width:auto !important;
//     }

 // .md-row:nth-child(even){
 //      background-color:#EDF1F5;
 //      }

 // .md-row:nth-child(odd){
 //      background-color:#FDFDFB;
 //      }



