/* You can add global styles to this file, and also import other style files */

// CSS Reset, comment out if not required or using a different module
// @import '~minireset.css/minireset';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-table thead tr {
    background-color: #087eb7;
    color: #fff !important;
}
.mat-table thead tr th {
    color: #fff !important;
    font-size:15 px;
}
// .mat-table {
//         overflow: auto;
//         max-height: 700px;
//       }

//  .mat-header-cell .mat-sort-header-sorted {
//         color: red !important;
//       }

//  .md-pagination-wrapper {
//         width:auto !important;
//     }

 // .md-row:nth-child(even){
 //      background-color:#EDF1F5;
 //      }

 // .md-row:nth-child(odd){
 //      background-color:#FDFDFB;
 //      }
